****
#  Springboard Datascience - XML Assignment 1

Using data in 'data/mondial_database.xml' and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [1]:
import pandas as pd
from math import floor
from xml.etree import ElementTree as ET
import data_wrangling_xml

In [2]:
document = ET.parse( './data/mondial_database.xml' )

## 1. 10 countries with the lowest infant mortality rates

The approach here is to go through each country and if it has an 'infant_mortality' tag, store that data as a float in a dictionary with the country's name as the key.

In [3]:
#Top 10 Countries with lowest Infant Mortality Rates
data_wrangling_xml.top_10_imr

              name  infant_mortality_rate
1           Monaco                   1.81
2            Japan                   2.13
3           Norway                   2.48
4          Bermuda                   2.48
5        Singapore                   2.53
6           Sweden                   2.60
7   Czech Republic                   2.63
8        Hong Kong                   2.73
9            Macao                   3.13
10         Iceland                   3.15

## 2. 10 cities with the largest population
The approach here is to go through each country and find all listed population data. Once found, only pick out the latest year's data and compile it into a dictionary containing the country, city, and population value.

In [4]:
data_wrangling_xml.top_10_city_populations

               city  population
1             Seoul     9708483
2        Al Qahirah     8471859
3           Bangkok     7506700
4         Hong Kong     7055071
5       Ho Chi Minh     5968384
6         Singapore     5076700
7   Al Iskandariyah     4123869
8        New Taipei     3939305
9             Busan     3403135
10        Pyongyang     3255288

## 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

The approach here is to go through each country and find two things:
1. Latest Country Population
2. All the ethnic groups

Each ethnic group has a 'percentage' attribute that indicates what percentage of the population in that country is made up of that ethnic group. After determining current population value for a country we can multiply those two numbers together to determine the total ethnic population in that country. We then add this determined population value to the total population tally for that ethnic group. This will let us determine which ethnic groups have the largest overall populations.

In [5]:
data_wrangling_xml.top_10_ethnic_groups

    ethnicgroup  population
1   Han Chinese  1245058800
2    Indo-Aryan   871815583
3      European   494872219
4       African   318325120
5     Dravidian   302713744
6       Mestizo   157734354
7       Bengali   146776916
8       Russian   131856996
9      Japanese   126534212
10        Malay   121993550

## 4. Name and country of a) longest river, b) largest lake and c) airport at highest elevation

First we create a 'countries' dictionary to help map country_code information to the actual country name.
This will be used on each of the three parts of this question.

In [6]:
data_wrangling_xml.countries

{'A': 'Austria',
 'AFG': 'Afghanistan',
 'AG': 'Antigua and Barbuda',
 'AL': 'Albania',
 'AMSA': 'American Samoa',
 'AND': 'Andorra',
 'ANG': 'Angola',
 'ARM': 'Armenia',
 'ARU': 'Aruba',
 'AUS': 'Australia',
 'AXA': 'Anguilla',
 'AZ': 'Azerbaijan',
 'B': 'Belgium',
 'BD': 'Bangladesh',
 'BDS': 'Barbados',
 'BEN': 'Benin',
 'BERM': 'Bermuda',
 'BF': 'Burkina Faso',
 'BG': 'Bulgaria',
 'BHT': 'Bhutan',
 'BI': 'Burundi',
 'BIH': 'Bosnia and Herzegovina',
 'BOL': 'Bolivia',
 'BR': 'Brazil',
 'BRN': 'Bahrain',
 'BRU': 'Brunei',
 'BS': 'Bahamas',
 'BVIR': 'British Virgin Islands',
 'BY': 'Belarus',
 'BZ': 'Belize',
 'C': 'Cuba',
 'CAM': 'Cameroon',
 'CAYM': 'Cayman Islands',
 'CDN': 'Canada',
 'CEU': 'Ceuta',
 'CH': 'Switzerland',
 'CI': 'Cote dIvoire',
 'CL': 'Sri Lanka',
 'CN': 'China',
 'CO': 'Colombia',
 'COCO': 'Cocos Islands',
 'COM': 'Comoros',
 'COOK': 'Cook Islands',
 'CR': 'Costa Rica',
 'CUR': 'Curacao',
 'CV': 'Cape Verde',
 'CY': 'Cyprus',
 'CZ': 'Czech Republic',
 'D': 'Germany',
 'DJI': 'Djibouti',
 'DK': 'Denmark',
 'DOM': 'Dominican Republic',
 'DZ': 'Algeria',
 'E': 'Spain',
 'EAK': 'Kenya',
 'EAT': 'Tanzania',
 'EAU': 'Uganda',
 'EC': 'Ecuador',
 'ER': 'Eritrea',
 'ES': 'El Salvador',
 'ET': 'Egypt',
 'ETH': 'Ethiopia',
 'EW': 'Estonia',
 'F': 'France',
 'FALK': 'Falkland Islands',
 'FARX': 'Faroe Islands',
 'FGU': 'French Guiana',
 'FJI': 'Fiji',
 'FL': 'Liechtenstein',
 'FPOL': 'French Polynesia',
 'FSM': 'Micronesia',
 'G': 'Gabon',
 'GAZA': 'Gaza Strip',
 'GB': 'United Kingdom',
 'GBG': 'Guernsey',
 'GBJ': 'Jersey',
 'GBM': 'Isle of Man',
 'GBZ': 'Gibraltar',
 'GCA': 'Guatemala',
 'GE': 'Georgia',
 'GH': 'Ghana',
 'GNB': 'Guinea-Bissau',
 'GQ': 'Equatorial Guinea',
 'GR': 'Greece',
 'GROX': 'Greenland',
 'GUAD': 'Guadeloupe',
 'GUAM': 'Guam',
 'GUY': 'Guyana',
 'H': 'Hungary',
 'HCA': 'Honduras',
 'HELX': 'Saint Helena',
 'HONX': 'Hong Kong',
 'HR': 'Croatia',
 'I': 'Italy',
 'IL': 'Israel',
 'IND': 'India',
 'IR': 'Iran',
 'IRL': 'Ireland',
 'IRQ': 'Iraq',
 'IS': 'Iceland',
 'J': 'Japan',
 'JA': 'Jamaica',
 'JOR': 'Jordan',
 'K': 'Cambodia',
 'KAZ': 'Kazakhstan',
 'KGZ': 'Kyrgyzstan',
 'KIR': 'Kiribati',
 'KN': 'Saint Kitts and Nevis',
 'KOS': 'Kosovo',
 'KWT': 'Kuwait',
 'L': 'Luxembourg',
 'LAO': 'Laos',
 'LAR': 'Libya',
 'LB': 'Liberia',
 'LS': 'Lesotho',
 'LT': 'Lithuania',
 'LV': 'Latvia',
 'M': 'Malta',
 'MA': 'Morocco',
 'MACX': 'Macao',
 'MAL': 'Malaysia',
 'MART': 'Martinique',
 'MAYO': 'Mayotte',
 'MC': 'Monaco',
 'MD': 'Moldova',
 'MEL': 'Melilla',
 'MEX': 'Mexico',
 'MH': 'Marshall Islands',
 'MK': 'Macedonia',
 'MNE': 'Montenegro',
 'MNG': 'Mongolia',
 'MNTS': 'Montserrat',
 'MOC': 'Mozambique',
 'MS': 'Mauritius',
 'MV': 'Maldives',
 'MW': 'Malawi',
 'MYA': 'Myanmar',
 'N': 'Norway',
 'NAM': 'Namibia',
 'NAU': 'Nauru',
 'NCA': 'New Caledonia',
 'NEP': 'Nepal',
 'NIC': 'Nicaragua',
 'NIUE': 'Niue',
 'NL': 'Netherlands',
 'NLSM': 'Sint Maarten',
 'NMIS': 'Northern Mariana Islands',
 'NOK': 'North Korea',
 'NORF': 'Norfolk Island',
 'NZ': 'New Zealand',
 'OM': 'Oman',
 'P': 'Portugal',
 'PA': 'Panama',
 'PAL': 'Palau',
 'PE': 'Peru',
 'PITC': 'Pitcairn',
 'PK': 'Pakistan',
 'PL': 'Poland',
 'PNG': 'Papua New Guinea',
 'PR': 'Puerto Rico',
 'PY': 'Paraguay',
 'Q': 'Qatar',
 'R': 'Russia',
 'RA': 'Argentina',
 'RB': 'Botswana',
 'RC': 'Taiwan',
 'RCA': 'Central African Republic',
 'RCB': 'Congo',
 'RCH': 'Chile',
 'REUN': 'Reunion',
 'RG': 'Guinea',
 'RH': 'Haiti',
 'RI': 'Indonesia',
 'RIM': 'Mauritania',
 'RL': 'Lebanon',
 'RM': 'Madagascar',
 'RMM': 'Mali',
 'RN': 'Niger',
 'RO': 'Romania',
 'ROK': 'South Korea',
 'ROU': 'Uruguay',
 'RP': 'Philippines',
 'RSA': 'South Africa',
 'RSM': 'San Marino',
 'RT': 'Togo',
 'RWA': 'Rwanda',
 'S': 'Sweden',
 'SA': 'Saudi Arabia',
 'SBAR': 'Saint Barthelemy',
 'SD': 'Swaziland',
 'SF': 'Finland',
 'SGP': 'Singapore',
 'SK': 'Slovakia',
 'SLB': 'Solomon Islands',
 'SLO': 'Slovenia',
 'SMAR': 'Saint Martin',
 'SME': 'Suriname',
 'SN': 'Senegal',
 'SP': 'Somalia',
 'SPMI': 'Saint Pierre and Miquelon',
 'SRB': 'Serbia',
 'SSD': 'South Sudan',
 'STP': 'Sao Tome and Principe',
 'SUD': 'Sudan',
 'SVAX': 'Svalbard',
 'SY': 'Seychelles',
 'SYR': 'Syria',
 'TAD': 'Tajikistan',
 'TCH': 'Chad',
 'THA': 'Thailand',
 'TL': 'Timor-Leste',
 'TM': 'Turkmenistan',
 'TN': 'Tunisia',
 'TO': 'Tonga',
 'TOK': 'Tokelau',
 'TR': 'Turkey',
 'TT': 'Trinidad and Tobago',
 'TUCA': 'Turks and Caicos Islands',
 'TUV': 'Tuvalu',
 'UA': 'Ukraine',
 'UAE': 'United Arab Emirates',
 'USA': 'United States',
 'UZB': 'Uzbekistan',
 'V': 'Holy See',
 'VIRG': 'Virgin Islands',
 'VN': 'Vietnam',
 'VU': 'Vanuatu',
 'WAFU': 'Wallis and Futuna',
 'WAG': 'Gambia',
 'WAL': 'Sierra Leone',
 'WAN': 'Nigeria',
 'WD': 'Dominica',
 'WEST': 'West Bank',
 'WG': 'Grenada',
 'WL': 'Saint Lucia',
 'WS': 'Samoa',
 'WSA': 'Western Sahara',
 'WV': 'Saint Vincent and the Grenadines',
 'XMAS': 'Christmas Island',
 'YE': 'Yemen',
 'YV': 'Venezuela',
 'Z': 'Zambia',
 'ZRE': 'Zaire',
 'ZW': 'Zimbabwe'}

### A) Longest River

In [7]:
data_wrangling_xml.longest_river

country    Colombia
length         6448
name       Amazonas
Name: 0, dtype: object

### B) Largest Lake

In [8]:
data_wrangling_xml.largest_lake

area            386400
country         Russia
name       Caspian Sea
Name: 0, dtype: object

### C) Airport at Highest Elevation

In [9]:
data_wrangling_xml.highest_airport

country           Bolivia
elevation            4063
name         El Alto Intl
Name: 0, dtype: object